/* Page formatting */
body{
  background-color: rgb(68, 226, 156);
  font-size: 18px;
  margin:0px;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 25px;
}
h1{
  background-color: rgb(68, 226, 156);
  color: rgb(30, 20, 20);
  text-align: center;
  font-size: 40px;
  margin:0px;
  padding: 2% 0% 2% 0%;
  font-family: 'Boogaloo', sans-serif;
  letter-spacing:1px;
}
footer{
  position:absolute;
  bottom:0;
  padding-left: 2%;
  width:99%;
  height:25px;   /* Height of the footer */
  background:rgba(209, 214, 222, 0.66);
  font-size: 10px;
  padding-top: 10px;
/* To Do list fomratting */
}
li{
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  grid-column-gap: 5px;
  border: 1px solid transparent;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 2px 4px 2px 4px;
  word-wrap: break-word;
}
ul{
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 5px;
}
ul >li:hover{
  background-color: rgba(190, 190, 190, 0.66);
  border: 0.5px solid rgb(151, 148, 154);
  border-radius: 8px;
}
.tasks-field{
  background-color: rgba(228, 230, 223, 0.86);
  width: 70%;
  margin: auto;
  border-radius: 8px;
}

#add-todo{
  padding-left: 10px;
  padding-bottom: 6px;
}
.delbutton{
  background-color: red;
  border-radius: 50%;
  color: white;
  padding: 1px 5px 1px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 3px gray;

}
.markbutton{
  background-color: gray;
  border-radius: 50%;
  color: white;
  margin-left: 10px;
  padding: 1px 5px 1px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 3px gray;
  background-color: #eee;
}
/* Form formatting */

#submit-button{
  background-color: #555555;;
  color: white;
  border: none;
  width: 30%;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#input-bar{
  width: 60%;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid grey;
    border-radius: 4px;
}

/* =======Filter Button======= */
#sortButtn{
  float:right;
  font-size: 18px;
  margin-right:3px;
  margin-top:3px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  vertical-align: middle;

}

.switch > input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #013a69;
}

input:focus + .slider {
  box-shadow: 0 0 1px #013a69;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round:before {
  border-radius: 50%;
}
@media only screen and (min-width:480px){
  .tasks-field{
    width:45%;
  }
  h1{
    font-size: 45px;
  }
}
