body{
  background-color: rgb(68, 226, 156);
  font-size: 16px;
  margin:0px;
}
h1{
  background-color: white;
  text-align: center;
  font-size: 40px;
  margin:0px;
  padding: 2% 0% 2% 0%;
}
li{
  word-wrap: break-word;
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  grid-column-gap: 5px;
}
.tasks-field{
  background-color: rgba(228, 230, 223, 0.86);
  width: 70%;
  margin: auto;
  border-radius: 8px;
}
@media only screen and (min-width:480px){
  .tasks-field{
    width:45%;
  }
  h1{
    font-size: 60px;
  }
}
.delbutton{
  background-color: red;
   border-radius: 50%;
   color: white;
   padding: 1px 5px 1px 5px;
   text-align: center;
   text-decoration: none;
   font-size: 10px;
 cursor: pointer;
 font-weight: bold;
 box-shadow: 0 0 3px gray;

}
.markbutton{
  background-color: gray;
   border-radius: 50%;
   color: white;
   padding: 1px 5px 1px 5px;
   text-align: center;
   text-decoration: none;
   font-size: 10px;
 cursor: pointer;
 font-weight: bold;
 box-shadow: 0 0 3px gray;

    background-color: #eee;
}
